<nz-row nzGutter="24">
  <!-- left -->
  <nz-col nzSpan="12">
    <!-- 屏幕 -->
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>设备高</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="height" nz-input placeholder="高" [(ngModel)]="board.height" (ngModelChange)="updateBoardConfig(board)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>设备宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="width" nz-input placeholder="高" [(ngModel)]="board.width" (ngModelChange)="updateBoardConfig(board)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>高</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="height" nz-input placeholder="高" [(ngModel)]="boardElement&&boardElement.height"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="width" nz-input placeholder="高" [(ngModel)]="boardElement&&boardElement.width" (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>边宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="border-width" nz-input placeholder="边宽" [(ngModel)]="boardElement&&boardElement['border-width']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>边框颜色</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="border-color" nz-input placeholder="边框颜色" [(ngModel)]="boardElement&&boardElement['border-color']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>偏移量top</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="top" nz-input placeholder="偏移量top" [(ngModel)]="boardElement&&boardElement['top']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>偏移量left</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="left" nz-input placeholder="偏移量left" [(ngModel)]="boardElement&&boardElement['left']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>背景色</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="background-color" nz-input placeholder="背景色" [(ngModel)]="boardElement&&boardElement['background-color']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>背景图片</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="background-image" nz-input placeholder="背景图片" [(ngModel)]="boardElement&&boardElement['background-image']"
              (ngModelChange)="updateBoardElementConfig(boardElement)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <!-- 操作 -->
    <nz-row nzJustify="center" nzType="flex">
      <div nz-col nzSpan="4">
        <button (click)="create()" nz-button nzType="primary">创建</button>
      </div>
      <div nz-col nzSpan="4">
        <button (click)="preLook()" nz-button>预览</button>
      </div>
      <div nz-col nzSpan="4">
        <button (click)="delete()" nz-button nzType="danger">删除</button>
      </div>
    </nz-row>
  </nz-col>
  <!-- right -->
  <nz-col nzSpan="12">
    <app-draw-board (updateBoardElementEmit)="updateBoardElement($event)" [board]="board" [boardObservable]="boardObservable"
      [boardElementObservable]="boardElementObservable"></app-draw-board>
  </nz-col>
</nz-row>
