<nz-row nzGutter="24">
  <!-- left -->
  <nz-col nzSpan="12">
    <!-- 屏幕 -->
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>设备高</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="height" nz-input placeholder="高" [(ngModel)]="board.height" (ngModelChange)="setBoardConfig(board)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>设备宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="width" nz-input placeholder="高" [(ngModel)]="board.width" (ngModelChange)="setBoardConfig(board)">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>高</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="height" nz-input placeholder="高" [(ngModel)]="boardElement.height">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="width" nz-input placeholder="高" [(ngModel)]="boardElement.width">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>边宽</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="border-width" nz-input placeholder="边宽" [(ngModel)]="boardElement['border-width']">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>边框颜色</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="border-color" nz-input placeholder="边框颜色" [(ngModel)]="boardElement['border-color']">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>背景色</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="background-color" nz-input placeholder="背景色" [(ngModel)]="boardElement['background-color']">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name" nzSpan="12" nzRequired>背景图片</nz-form-label>
          <nz-form-control nzSpan="12">
            <input name="background-image" nz-input placeholder="背景图片" [(ngModel)]="boardElement['background-image']">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <button (click)="createElement()" nz-button>创建元素</button>
    <button (click)="preLook()" nz-button>预览</button>
  </nz-col>
  <!-- right -->
  <nz-col nzSpan="12">
    <app-draw-board (updateBoardElementEmit)="updateBoardElement($event)" [board]="board" [boardObservable]="boardObservable"
      [boardElementObservable]="boardElementObservable"></app-draw-board>
  </nz-col>
</nz-row>