

.phone{
    position: relative;
    margin: auto;
    height: 667px;
    width:375px;
    background-image: url('/assets/draw/background.jpg');
    .panelWrap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.test1,.test2{
    height: 50px;
    width: 150px;
    border: 1px solid red;
    padding: 20px;
}