<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu>
          <span title><i class="anticon anticon-html5"></i>页面管理</span>
          <ul>
            <li nz-menu-item>页面查询</li>
            <li nz-menu-item>页面绘制</li>
            <li nz-menu-item>模板查询</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-cloud"></i>域名管理</span>
          <ul>
            <li nz-menu-item>查询域名</li>
            <li nz-menu-item>修改记录</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-setting"></i>个人设置</span>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-bulb"></i>其他</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
