<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu *ngFor="let menu of menus">
          <span title><i [class]="'anticon '+menu.icon"></i>{{menu.name}}</span>
          <ul *ngIf="menu.menus">
            <li *ngFor="let item of menu.menus" nz-menu-item [routerLink]="item.url">{{item.name}}</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb nzSeparator=">" nzAutoGenerate="true" style="margin:16px 0;">
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
