div {
  cursor: move;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.position-top-left,
.position-top-right,
.position-bottom-left,
.position-bottom-right {
  height: 10px;
  width: 10px;
  border: 1px solid #333;
  display: inline-block;
  position: absolute;
  z-index: 99;
  font-size: 0;
}

.position-top-left {
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.position-top-right {
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.position-bottom-left {
  bottom: 0;
  left: 0;
  cursor: ne-resize;
}

.position-bottom-right {
  bottom: 0;
  right: 0;
  cursor: nw-resize;
}
