<div class="draw-element" (click)="showControlPanel()" draggable="true" (dragstart)="dragStart($event)" [id]="boardElement.id"
  [ngStyle]="boardElementStyle" *ngIf="boardElement&&boardElement.type=='button'">{{boardElementStyle.id}}
</div>

<div *ngIf="showControl" (click)="showControlPanel()" [ngStyle]="maskStyle" class="control-panel" draggable="true"
  (dragstart)="dragStart($event)">
  <app-deformation direction="nw" class="position-top-left"></app-deformation>
  <app-deformation direction="ne" class="position-top-right"></app-deformation>
  <app-deformation direction="sw" class="position-bottom-left"></app-deformation>
  <app-deformation direction="se" class="position-bottom-right"></app-deformation>
</div>
