div.draw-element {
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-panel {
  position: absolute;
  z-index: 100;
  border: 1px solid #EBEBEB;

  .position-top-left,
  .position-top-right,
  .position-bottom-left,
  .position-bottom-right {
    height: 6px;
    width: 6px;
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    background: #fff;
    border: 1px solid #000;
    z-index: 99;
    font-size: 0;
  }

  .position-top-left {
    top: 0;
    left: 0;
    cursor: nw-resize;
    margin-top: -4px;
    margin-left: -4px;
  }

  .position-top-right {
    top: 0;
    right: 0;
    cursor: ne-resize;
    margin-top: -4px;
    margin-right: -4px;
  }

  .position-bottom-left {
    bottom: 0;
    left: 0;
    cursor: ne-resize;
    margin-bottom: -4px;
    margin-left: -4px;
  }

  .position-bottom-right {
    bottom: 0;
    right: 0;
    cursor: nw-resize;
    margin-bottom: -4px;
    margin-right: -4px;
  }
}
