<div draggable="true" (click)="destory()" (dragstart)="dragStart($event)" [id]="boardElement.id" [ngStyle]="boardElementStyle"
  *ngIf="boardElement&&boardElement.type=='button'">{{boardElementStyle.id}}
  <span *ngIf="showControl" (click)="startListenChange($event)" class="position-top-left"></span>
  <span *ngIf="showControl" (click)="startListenChange($event)" class="position-top-right"></span>
  <span *ngIf="showControl" (click)="startListenChange($event)" class="position-bottom-left"></span>
  <span *ngIf="showControl" (click)="startListenChange($event)" class="position-bottom-right"></span>
</div>